.margin-top-50 {
	margin-top: 50px;
}

.author-img {
	background: url('img/OBDock.jpg') no-repeat center center fixed;
	background-size: cover;
	
}

.project-card-container-title {
	color: #fff;
}

.align-center {
	text-align: center;
}

.card {
	color: #00c5e3;
	z-index: 1;
	height: 192px;
}

.card-bg {
	background-color: #fff;
}

.card-1 {
	color: #00c5e3;
}

.card-2 {
	color: #d61f57;
}

.card-3 {
	color: #000000;
}

.footer {
    height: 40px;
    text-align: center;
}