/* Main Stylings */

body {
	background-color: #efefef;
	font-family: 'Poppins', sans-serif;
}

.row {
	border: 1px solid #FFF;
	padding: 20px 0 20px 0;
}

.title {
	color: #00c5e3;
}

#main_container {
  	margin-top: 50px; 
}

.slider-horizontal {
	margin-right: 10px;
}

.slider-handle {
	background: #00c5e3;
}
